<header class="top-header">
  <div class="header-container">
    <div class="logo-container">
      <img src="Logo_container-1.webp" alt="Logo" class="logo">
    </div>

    <div class="contact-info">
      <div class="contact-item">
        <mat-icon>phone</mat-icon>
        <div class="contact-details">
          <span>Call Us Anytime</span>
          <a href="tel:0280056139">02 8005 6139</a>
        </div>
      </div>
      <div class="contact-item">
        <mat-icon>email</mat-icon>
        <div class="contact-details">
          <span>Email Us</span>
          <a href="mailto:info@containerzone.com.au">info&#64;containerzone.com.au</a>
        </div>
      </div>
    </div>

    <a href="https://containerzone.com.au/get-a-quote/" target="_blank" rel="noopener noreferrer" class="quote-button">
      Request a Quote
    </a>
  </div>
</header> 